*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root{
  --primary-color: #black;
  --secondary-color: #aqua;
  --primary-font: "Roboto", sans-serif;
}
html,
body{

}
.header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 12vh;
  background-color:rgb(90, 163, 192);
  border-bottom: 0.1rem solid rgb(0, 110, 173);
}
.hearder-logo{
  float: left;
  display: inline;
  align-content: center;
  text-transform: capitalize;
}
.header-nav-list{
  float: right;
  display: inline-block;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  padding: 1.2rem;
  gap: 2rem;
}
.header-nav-link{
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5sec ease;
  font-size: 1.2rem;
}
.header-nav-link:hover{
  background-color: #fff;
  color: #000;

}
.top{
  height: 80vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(assets/pexels-davidmcbee-1486785.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-subtitle{
  font-family:'Courier New', Courier, monospace;
  text-transform: capitalize;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aqua;
  font-weight:bolder;
 
}
.top-maintitle{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size:3rem;
  color:aqua;
  font-weight:bolder;
}
.top-next{
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
  background-color:aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 1rem solid aqua;
  padding: 3px 30px;
  border-radius: 20px;
}

.about {
  padding: 6rem 12rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 3rem;
}

.about-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-text {
  text-align: center;
  letter-spacing: 1.8px;
  font-size: 1.4rem;
  color: #080505;
  line-height: 2;
}

.about-cta {
  display: block;
  width: max-content;
  margin: 0 auto;
  text-decoration: none;
  text-transform: capitalize;
}

.about-image--img {
  width: 30rem;
  border-radius: 15px;
 }

.home{
  top:40px;
  position: relative;
  width: 65%;
  height: 230px;
  margin: auto;
}
.home .home-all{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.2rem;
}
.home .title_button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .title_button button{
  position: absolute;
  right: 0%;
  padding: 8px 15px;
  background:rgb(2, 99, 99);
  color: #000;
  box-shadow: 3px 3px 25px rgb(233, 233, 233);
  border: none;
  outline: none;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font: 12px;
  cursor: pointer;
  transition: .3s linear;
}
.home .title_button button:hover{
  background: #000;
  color: #fff;
}
.home .title_button button .bi{
 margin-left: 5px;
}
.home .home_bx{
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home .home_bx .card{
  position: relative;
  width: 160px;
  height: 260px;
  border-radius: 15px;
 
}
.home .home_bx .card img{
  width: 100%;
  height: 100%;
  border-radius: 15px;  
}
.home .home_bx .card .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-radius: 20px;

}
.home .home_bx .card .content .bi{
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}
.home .home_bx .card .content .bi::after{
  content: '';
  position: absolute;
  width: 162%;
  height: 110%;
  background: rgba(194, 194, 194, 0.3);
  left: -35%;
  top: -3px;
  border-radius: 50%;
  z-index: -1;
}
 .home .home_bx .card .cont{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
}
.home .home_bx .card .cont::before{
  content: ' ';
  position: absolute; 
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, .1);
  backdrop-filter: blur (5px);
  border-radius: 0px 0px 13px 13px;
  z-index: -1;
}
.home .home_bx .card .cont h1{
  color: #240303;
  padding: 10px 0px 0px 13px ;
  line-height: 10px;

}
.home .home_bx .card .cont p{
  color: #3a0505;
  padding: 10px 0px 0px 13px;
  font-size: 12px;
}
.container11{
  display: flex;
  direction: inherit;
  margin-left: 20px;
  margin-top: 200px;
}

.container {
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  align-items: flex-start;
  direction: ltr;
}

.imageborder{
  padding: 0px;
  margin: 40px 7px;
  border-radius: 20px;
  cursor: pointer;
  gap: 2rem;

}

.menu-item-title{
  padding: 0px;
  margin-top: 1px;
 


}

.menu-item-description{
  padding: 0px;
}

.container-2{
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  align-items: flex-end;
  direction: ltr;
  flex-wrap: wrap;

}

.menu-items-container{
  display: flex;
  gap: 2rem;
}
 
.images{
  display: flex;
  padding: 0px;
  margin: 40px 7px;
  border-radius: 20px;
  cursor: pointer;
  gap: 2rem;
  
}

.menu-item-title{
  display: block;
}

.container-3{
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  align-items: flex-start;
  direction: ltr;
  flex-wrap: wrap;
}

.menu-items-container{
  display: flex;
  gap: 2rem;
}

.images1{
  display: flex;
  padding: 0px;
  margin: 40px 15px;
  border-radius: 30px;
  cursor: pointer;
  gap: 2rem;
}

.container10{
  display: flex;
  direction: inherit; 
  margin-left: 20px;
  
}

.banner-2{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 3, 5);
  height: 30vh;
  gap: 1.2rem;
  font-style: italic;
}

.container3-1{
  display: flex;
  justify-content: center;
  margin-left: 10px;

}

.menu-items-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.container3-11{
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.menu-items-container1{
  display: flex;
  flex-direction: row-reverse; 
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}